@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "SegoeUI";
	src: url("./styles/font/windows/segoeui.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    
}
@font-face {
	font-family: "SegoeUI", sans-serif;
	src: url("./styles/font/windows/seguisb.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;

}
@font-face {
	font-family: "SegoeUI";
	src: url("./styles/font/windows/seguisb.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;

}
@font-face {
	font-family: "SegoeUI";
	src: url("./styles/font/windows/segoeuib.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
}

body {
    font-family: 'SegoeUI', sans-serif;
    font-weight: normal;
    /* font-size: medium; */
}
